In [1]:
import pandas as pd

In [2]:
exp5lab = pd.read_csv('../data/2023_FISH_VNIIPRH - EXP_5_main_lab.csv')

In [8]:
exp5lab

,№,CODE,CUP_NUMBER,FEMALE,MALE,MUT,TEMP,TIME,DEAD,FERT,...,SHOCK_NAME,HATCHED_DEAD,HATCHED_ALIVE,HATCHED_NAME,SWIM,SWIM_NAME,Sum_4_cup,swim_perc,Unnamed: 23,FAMILY
0,1,11CC,1,1,1,C,C,NaN,5,37,...,Polina,0,37,Sasha,33,Vika,124.0,"89,18918919","82,68975572",1x1
1,2,11CC,2,1,1,C,C,NaN,2,42,...,Polina,1,40,Sasha,33,Vika,NaN,"78,57142857",NaN,1x1
2,3,11CC,3,1,1,C,C,NaN,5,33,...,Polina,2,29,Sasha,26,Vika,NaN,"78,78787879",NaN,1x1
3,4,11CC,4,1,1,C,C,NaN,11,38,...,Polina,2,35,Sasha,32,Vika,NaN,"84,21052632",NaN,1x1
4,5,12CC,1,1,2,C,C,NaN,4,58,...,Lera,10,49,Vika,45,Polina,121.0,"77,5862069",NaN,1x2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,21M38,4,2,1,M,38,40.0,3,54,...,Alya(d)+Lera(a),3,50,Vika,33,Vika,NaN,"61,11111111",NaN,2x1
60,61,22M38,1,2,2,M,38,40.0,2,40,...,Lera,4,36,Vika,34,Polina,161.0,85,NaN,2x2
61,62,22M38,2,2,2,M,38,40.0,2,43,...,Lera,4,36,Vika,35,Polina,NaN,"81,39534884",NaN,2x2
62,63,22M38,3,2,2,M,38,40.0,0,58,...,Lera,1,54,Vika,50,Polina,NaN,"86,20689655",NaN,2x2
63,64,22M38,4,2,2,M,38,40.0,3,50,...,Lera,1,47,Vika,42,Polina,NaN,84,NaN,2x2

In [4]:
exp5lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   №              64 non-null     int64
 1   CODE           64 non-null     object
 2   CUP_NUMBER     64 non-null     int64
 3   FEMALE         64 non-null     int64
 4   MALE           64 non-null     int64
 5   MUT            64 non-null     object
 6   TEMP           64 non-null     object
 7   TIME           32 non-null     float64
 8   DEAD           64 non-null     int64
 9   FERT           64 non-null     int64
 10  FERT_NAME      64 non-null     object
 11  TOTAL          64 non-null     int64
 12  FERT_PERC      64 non-null     object
 13  SHOCK_DEAD     64 non-null     int64
 14  SHOCK_ALIVE    64 non-null     int64
 15  SHOCK_NAME     64 non-null     object
 16  HATCHED_DEAD   64 non-null     int64
 17  HATCHED_ALIVE  64 non-null     int64
 18  HATCHED_NAME   64 non-null     object
 19  SWIM           64 non-null     int64
 20  SWIM_NAME      64 non-null     object
 21  Sum_4_cup      16 non-null     float64
 22  swim_perc      64 non-null     object
 23  Unnamed: 23    1 non-null      object
dtypes: float64(2), int64(12), object(10)
memory usage: 12.1+ KB

In [9]:
exp5lab.columns

Index(['№', 'CODE', 'CUP_NUMBER', 'FEMALE', 'MALE', 'MUT', 'TEMP', 'TIME',
       'DEAD', 'FERT', 'FERT_NAME', 'TOTAL', 'FERT_PERC', 'SHOCK_DEAD',
       'SHOCK_ALIVE', 'SHOCK_NAME', 'HATCHED_DEAD', 'HATCHED_ALIVE',
       'HATCHED_NAME', 'SWIM', 'SWIM_NAME', 'Sum_4_cup', 'swim_perc',
       'Unnamed: 23', 'FAMILY'],
      dtype='object')

In [50]:
exp5lab.FEMALE = exp5lab.FEMALE.astype(str)
exp5lab.MALE = exp5lab.MALE.astype(str)
exp5lab['FAMILY'] = exp5lab.FEMALE + 'x' + exp5lab.MALE

exp5lab.CUP_NUMBER = exp5lab.CUP_NUMBER.astype(str)

In [56]:
exp5lab_short = exp5lab.pivot(index=['FAMILY', 'MUT', 'CUP_NUMBER'], columns='TEMP', values=['FERT', 'HATCHED_ALIVE'])

In [57]:
exp5lab_short = exp5lab_short.reset_index()

In [58]:
exp5lab_short.columns = ['FAMILY', 'MUT', 'CUP_NUMBER', 'Aca', 'Aco', 'Hca', 'Hco']
exp5lab_short['TEMP'] = 38
exp5lab_short['TIME'] = 40
exp5lab_short = exp5lab_short[['FAMILY', 'CUP_NUMBER', 'MUT', 'TEMP', 'TIME', 'Aca', 'Hca', 'Aco', 'Hco']]

In [60]:
exp5lab_short['RelativeDecrease'] = (exp5lab_short.Hca / exp5lab_short.Aca) / (exp5lab_short.Hco / exp5lab_short.Aco)

In [61]:
exp5lab_short

   FAMILY CUP_NUMBER MUT  TEMP  TIME  Aca  Hca  Aco  Hco  RelativeDecrease
0     1x1          1   C    38    40   23   17   37   37          0.739130
1     1x1          2   C    38    40   64   45   42   40          0.738281
2     1x1          3   C    38    40   64   29   33   29          0.515625
3     1x1          4   C    38    40   30   23   38   35          0.832381
4     1x1          1   M    38    40   70   21   17   14          0.364286
5     1x1          2   M    38    40   58   27   53   45          0.548276
6     1x1          3   M    38    40   60   27   16   13          0.553846
7     1x1          4   M    38    40   40   15   24   17          0.529412
8     1x2          1   C    38    40   25   18   58   49          0.852245
9     1x2          2   C    38    40   24   18   43   29          1.112069
10    1x2          3   C    38    40   58   10   31   27          0.197957
11    1x2          4   C    38    40   19   21   24   23          1.153318
12    1x2          1   M    38    40   51   24   40   37          0.508744
13    1x2          2   M    38    40   27   20   36   26          1.025641
14    1x2          3   M    38    40   32   19   54   46          0.697011
15    1x2          4   M    38    40   35   19   45   32          0.763393
16    2x1          1   C    38    40   42   40   29   30          0.920635
17    2x1          2   C    38    40   20   14   38   37          0.718919
18    2x1          3   C    38    40   36   34   42   41          0.967480
19    2x1          4   C    38    40   44   39   42   42          0.886364
20    2x1          1   M    38    40   85   71   46   38          1.011146
21    2x1          2   M    38    40   52   29   50   35          0.796703
22    2x1          3   M    38    40   49   42   37   49          0.647230
23    2x1          4   M    38    40   54   50   41   41          0.925926
24    2x2          1   C    38    40   43   39   47   46          0.926694
25    2x2          2   C    38    40   37   33   36   34          0.944356
26    2x2          3   C    38    40   32   28   34   32          0.929688
27    2x2          4   C    38    40   38   33   30   24          1.085526
28    2x2          1   M    38    40   40   36   42   22          1.718182
29    2x2          2   M    38    40   43   36   30   30          0.837209
30    2x2          3   M    38    40   58   54   42   43          0.909383
31    2x2          4   M    38    40   50   47   39   21          1.745714

In [62]:
exp5lab_short.to_csv('../data/2023_derived_tables/exp5lab.csv')